<fieldset>
  <p><%= l(:redmine_lightbox_settings) %></p>
  <p>
    <label><%= l(:preview_image_attachments)%></label>
    <%= check_box_tag('settings[preview_image_attachments]',
                      '1',
                      @settings['preview_image_attachments'])
    %>
  </p>
</fieldset>
