div.attachments .image_attachment_preview {
    width: auto !important;
    width: 180px;
    max-width: 180px;
    max-height: 200px;
}

div.attachments div.images a.lightbox
{
  margin: 0px 5px;
}

embed.chrome {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
}
